h1{
    background-color: orange;
    padding: 10px;
    margin: 15px;
    box-shadow: 0 0 15px blueviolet;
}
body img{
    width: 200px;
    height: 200px;
    padding: 20px;
    background-color: aqua;
    box-shadow: 0 0 10px black;
}